.card {
  width: 20rem;
  padding: 1rem;
  border-radius: 2rem;

  text-align: center;

  background-color: var(--clr-background-primary);

  & .picture-container {
    /* aspect-ratio: 1; */
    border-radius: 1rem;
    overflow: hidden;
  }

  & .text-container {
    padding: 1rem;

    & .card-title {
      color: var(--clr-text-strong);
      font-size: 1.4rem;
    }

    & .card-description {
      margin-top: 1.5rem;
      color: var(--clr-text-primary);
    }
  }
}

