.card-container {
  container-type: inline-size;
  width: 100%;
  resize: horizontal;
  margin: 0 auto;
  min-width: 10rem;
  width: 20rem;
  overflow: auto;
}

.card {
  width: 100%;
  padding: 1rem;
  border-radius: 2rem;

  text-align: center;

  background-color: var(--clr-background-primary);

  & .picture-container {
    aspect-ratio: 1;
    max-width: 20rem;

    margin: 0 auto;

    border-radius: 1rem;
    overflow: hidden;
  }

  & .text-container {
    padding: 1rem;
    width: 100%;

    & .card-title {
      color: var(--clr-text-strong);
      font-size: 1.4rem;
    }

    & .card-description {
      margin-top: 1.5rem;
      color: var(--clr-text-primary);
    }
  }

  @container (width >= 35rem) {
    display: flex;
    flex-direction: row;
    
    & .picture-container {
      margin: 0;
    }

    & .text-container {

    }
  }
}
