:root {
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --clr-text-primary: hsl(220, 15%, 55%);
  --clr-text-strong: hsl(218, 44%, 22%);
  --clr-background-primary: hsl(0, 0%, 100%);
  --clr-background-secondary: hsl(212, 45%, 89%);
}

*,
:before,
:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;
  display: flex;
  place-items: center;
  min-height: 100vh;

  background-color: var(--clr-background-secondary);
}

/* Make images easier to work with */
img {
  display: block;
  max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-size: inherit;
  font-family: inherit;
  color: inherit;
}

#root {
  width: 100%;
}
